* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background: black;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    display: flex;
    align-items: center;
}