.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    background-color: var(--laranja);
    padding: 1em;
    margin: .75em .5em;

}

.topicos__link {
    color: var(--branco);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}